<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DatosCurpSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5872/DatosCurp.asmx" binding="basicHttpBinding"
                bindingConfiguration="DatosCurpSoap" contract="SRCurp.DatosCurpSoap"
                name="DatosCurpSoap" />
        </client>
    </system.serviceModel>
</configuration>